<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interval Generator</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        form {
            margin-bottom: 20px;
        }
        .error {
            color: red;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Generate Random Intervals</h1>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <form method="POST" action="/generate_random_intervals">
        <label for="t">Warm-up Duration (w):</label><br>
        <input type="number" id="w" name="w" value=5 required><br><br>

        <label for="N">Number of rounds (N):</label><br>
        <input type="number" id="N" name="N" value=3 required><br><br>

        <label for="r">Rest Duration (r):</label><br>
        <input type="number" id="r" name="r" value=5 required><br><br>

        <label for="t">Total Duration (t):</label><br>
        <input type="number" id="t" name="t" value=5 required><br><br>

        <label for="n">Number of Intervals (n):</label><br>
        <input type="number" id="n" name="n" value=3 required><br><br>

        <label for="d">Minimum Interval Duration (d):</label><br>
        <input type="number" id="d" name="d" value=1 required><br><br>

        <label for="c">Cool Down Duration (c):</label><br>
        <input type="number" id="c" name="c" value=5 required><br><br>


        <button type="submit">Generate</button>
    </form>

    {% if intervals %}
        <h2>Generated Intervals</h2>
        <ul>
            {% for interval in intervals %}
                <li>{{ interval }}</li>
            {% endfor %}
        </ul>

        <!-- Start Button -->
        <button id="start-button">Start</button>

        <!-- Audio Element for the Beep -->
        <audio id="beep-sound" src="/static/bell.mp3" preload="auto"></audio>
    {% endif %}

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const startButton = document.getElementById("start-button");
            const beepSound = document.getElementById("beep-sound");
            const beepIntervals = {{ intervals }};

            // Event listener for the start button
            startButton?.addEventListener("click", () => {
                if (beepIntervals && beepIntervals.length > 0) {
                    startButton.disabled = true;
                    beepIntervals.forEach((interval, index) => {
                        setTimeout(() => {
                            beepSound.play(); // Play the beep
                        }, interval * 1000); // Convert seconds to milliseconds
                    });
                }
            });
        });
    </script>
</body>
</html>
